/*@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

* {
  margin: 0;
}

.header {
  display: flex;
  /*  font-family: "Roboto", sans-serif; */
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > h1 {
  margin-left: 20px;
}

.header__left > h1 > span {
  background-color: #ef4444;
  padding: 3px 8px;
  border-radius: 14px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__input > input {
  flex: 1;
  border: none;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 8px;
}
